<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FileUploadImage</servlet-name>
        <servlet-class>FileUploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactmail</servlet-name>
        <servlet-class>contactmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUploadImage</servlet-name>
        <servlet-class>AdminUploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationProcess</servlet-name>
        <servlet-class>RegistrationProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appointmentprocess</servlet-name>
        <servlet-class>appointmentprocess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctor_list_delete</servlet-name>
        <servlet-class>doctor_list_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prescriptionprocess</servlet-name>
        <servlet-class>prescriptionprocess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorprocess</servlet-name>
        <servlet-class>doctorprocess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctoruploadimage</servlet-name>
        <servlet-class>doctoruploadimage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateprocess</servlet-name>
        <servlet-class>updateprocess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patient_list_delete</servlet-name>
        <servlet-class>patient_list_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admineditprocess</servlet-name>
        <servlet-class>admineditprocess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientUploadImage</servlet-name>
        <servlet-class>PatientUploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ambprocess</servlet-name>
        <servlet-class>ambprocess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactemail1</servlet-name>
        <servlet-class>contactemail1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadImage</servlet-name>
        <url-pattern>/FileUploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactmail</servlet-name>
        <url-pattern>/contactmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUploadImage</servlet-name>
        <url-pattern>/AdminUploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationProcess</servlet-name>
        <url-pattern>/RegistrationProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appointmentprocess</servlet-name>
        <url-pattern>/appointmentprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctor_list_delete</servlet-name>
        <url-pattern>/doctor_list_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prescriptionprocess</servlet-name>
        <url-pattern>/prescriptionprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorprocess</servlet-name>
        <url-pattern>/doctorprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctoruploadimage</servlet-name>
        <url-pattern>/doctoruploadimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateprocess</servlet-name>
        <url-pattern>/updateprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patient_list_delete</servlet-name>
        <url-pattern>/patient_list_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admineditprocess</servlet-name>
        <url-pattern>/admineditprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientUploadImage</servlet-name>
        <url-pattern>/PatientUploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ambprocess</servlet-name>
        <url-pattern>/ambprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactemail1</servlet-name>
        <url-pattern>/contactemail1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
